# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-electron
dist-client

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.thumbs.db
.fleet

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vs

# Local env files
.env
.env.*
!.env.example

.vite
.imsc
