openapi: 3.1.0
info:
  title: If This - Game Design API
  description: "Game design data API. Call getContext first to discover entity types, properties, and valid values. Use plain names for references."
  version: 3.0.0
servers:
  - url: https://ims.sieisst.com
paths:
  /api/gpt/context:
    get:
      operationId: getContext
      summary: Get all entity types, properties, valid values, and reference data. Call this first.
      responses:
        "200":
          description: Project structure
          content:
            application/json:
              schema:
                type: object
                properties:
                  game:
                    type: string
                  description:
                    type: string
                  instructions:
                    type: string
                  entityTypes:
                    type: object
                  referenceData:
                    type: object
  /api/gpt/search:
    get:
      operationId: searchAssets
      summary: Search entities by name across all types. Returns id, title, workspace.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Matches
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    workspace:
                      type: string
  /api/gpt/link:
    post:
      operationId: linkAssets
      summary: Bidirectional link between two entities.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
              properties:
                from:
                  type: string
                to:
                  type: string
      responses:
        "200":
          description: Done
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /api/gpt/{workspace}:
    get:
      operationId: listEntities
      summary: "List entities in a workspace slug from getContext (characters, items, quests, dialogues, locations, buildings, languages, countries)."
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Entities
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    icon:
                      type: string
    post:
      operationId: createEntity
      summary: "Create entity. title required. Add any properties from getContext. Use plain names for references."
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                description:
                  type: string
                name:
                  type: string
                age:
                  type: string
                language:
                  type: string
                country:
                  type: string
                occupation:
                  type: string
                personality:
                  type: string
                health:
                  type: integer
                damage:
                  type: integer
                weight:
                  type: number
                type:
                  type: string
                price:
                  type: integer
                effect:
                  type: string
                effect_value:
                  type: number
                effect_duration:
                  type: number
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
  /api/gpt/{workspace}/{id}:
    get:
      operationId: getEntity
      summary: Get entity details as flat key-value pairs.
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
    delete:
      operationId: deleteEntity
      summary: Delete an entity.
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
    put:
      operationId: updateEntity
      summary: Update entity. Only send fields to change. Use plain names for references.
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                name:
                  type: string
                age:
                  type: string
                language:
                  type: string
                country:
                  type: string
                occupation:
                  type: string
                personality:
                  type: string
                health:
                  type: integer
                damage:
                  type: integer
                weight:
                  type: number
                type:
                  type: string
                price:
                  type: integer
                effect:
                  type: string
                effect_value:
                  type: number
                effect_duration:
                  type: number
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
