openapi: 3.1.0
info:
  title: If This - Game Design API
  description: >
    Game design data API. Call getContext first to discover all entity types
    (characters, items, quests, etc.), their properties, and valid values.
    The workspace parameter maps to entity types returned by getContext.
    Use plain names for references (e.g. "Emorian" not a UUID).
  version: 3.0.0
servers:
  - url: https://ims.sieisst.com
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key

paths:
  /api/gpt/context:
    get:
      operationId: getContext
      summary: Get all entity types, their properties, valid enum values, and reference data. Call this first.
      x-openai-isConsequential: false
      responses:
        "200":
          description: Project structure and valid values
          content:
            application/json:
              schema:
                type: object
                properties:
                  game:
                    type: string
                  description:
                    type: string
                  entityTypes:
                    type: object
                    description: "Keys are workspace slugs. Each has title, properties, assetCount."
                  referenceData:
                    type: object
                    description: "Lists of existing entity names per workspace."

  /api/gpt/search:
    get:
      operationId: searchAssets
      summary: Search for entities by name across all types. Use to find IDs for linking.
      x-openai-isConsequential: false
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search term (partial match on title)
      responses:
        "200":
          description: Matching entities
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    workspace:
                      type: string

  /api/gpt/link:
    post:
      operationId: linkAssets
      summary: Create a bidirectional link between two entities. Use after creating related entities.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
              properties:
                from:
                  type: string
                  description: First entity ID
                to:
                  type: string
                  description: Second entity ID
      responses:
        "200":
          description: Link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  linked:
                    type: array
                    items:
                      type: string

  /api/gpt/{workspace}:
    get:
      operationId: listEntities
      summary: "List all entities in a workspace (e.g. characters, items, quests, dialogues, locations, buildings, languages, countries)."
      x-openai-isConsequential: false
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
          description: "Entity type slug from getContext (e.g. characters, items, quests)"
      responses:
        "200":
          description: Array of entities
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    icon:
                      type: string
    post:
      operationId: createEntity
      summary: "Create an entity. Send title (required) plus any properties discovered from getContext. Use plain names for references."
      x-openai-isConsequential: true
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
          description: "Entity type slug (e.g. characters, items, quests)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Entity name (required)
                description:
                  type: string
                  description: Description or backstory
                name:
                  type: string
                  description: Display name (if different from title)
                age:
                  type: string
                language:
                  type: string
                  description: "Use language name, not UUID"
                country:
                  type: string
                  description: "Use country name, not UUID"
                occupation:
                  type: string
                personality:
                  type: string
                health:
                  type: integer
                damage:
                  type: integer
                weight:
                  type: number
                type:
                  type: string
                  description: "For items: category from getContext validValues"
                price:
                  type: integer
                effect:
                  type: string
                effect_value:
                  type: number
                effect_duration:
                  type: number
      responses:
        "200":
          description: Created entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string

  /api/gpt/{workspace}/{id}:
    get:
      operationId: getEntity
      summary: Get an entity's full details as flat key-value pairs.
      x-openai-isConsequential: false
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Entity ID (UUID)
      responses:
        "200":
          description: Entity details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
    put:
      operationId: updateEntity
      summary: Update an entity. Only send the fields you want to change. Use plain names for references.
      x-openai-isConsequential: true
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                name:
                  type: string
                age:
                  type: string
                language:
                  type: string
                country:
                  type: string
                occupation:
                  type: string
                personality:
                  type: string
                health:
                  type: integer
                damage:
                  type: integer
                weight:
                  type: number
                type:
                  type: string
                price:
                  type: integer
                effect:
                  type: string
                effect_value:
                  type: number
                effect_duration:
                  type: number
      responses:
        "200":
          description: Updated entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
