openapi: 3.1.0
info:
  title: If This - Game Design API
  description: "Flexible game design data API. Call getContext first to discover entity types, properties, and valid values. Use plain names for references."
  version: 3.1.0
servers:
  - url: https://ims.sieisst.com
paths:
  /api/gpt/context:
    get:
      operationId: getContext
      summary: "Get all entity types, their properties, valid values, and reference data. ALWAYS call this first before any other operation."
      responses:
        "200":
          description: Project structure with entity types, property schemas, valid enum values, and lists of existing entities per workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  game:
                    type: string
                  description:
                    type: string
                  instructions:
                    type: string
                  entityTypes:
                    type: object
                    description: "Keyed by workspace slug. Each entry has title, properties (with types and valid values), and assetCount. Use these property names when creating/updating entities."
                  referenceData:
                    type: object
                    description: "Lists of existing entity names per workspace for reference."
  /api/gpt/search:
    get:
      operationId: searchAssets
      summary: Search entities by name across all types. Returns IDs needed for linking.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search term (partial match on title)
      responses:
        "200":
          description: Matching entities with IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    workspace:
                      type: string
  /api/gpt/link:
    post:
      operationId: linkAssets
      summary: Create a bidirectional link between two entities. Use searchAssets first to get the UUIDs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
              properties:
                from:
                  type: string
                  description: "Source entity UUID (from searchAssets or a create/list response)"
                to:
                  type: string
                  description: "Target entity UUID (from searchAssets or a create/list response)"
      responses:
        "200":
          description: Link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  linked:
                    type: array
                    items:
                      type: string
  /api/gpt/{workspace}:
    get:
      operationId: listEntities
      summary: "List all entities in a workspace. Workspace slugs come from getContext entityTypes keys."
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
          description: "Workspace slug from getContext (e.g. characters, items, quests, dialogues, locations, buildings, languages, countries, abilities, effects)"
      responses:
        "200":
          description: Array of entities
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    icon:
                      type: string
    post:
      operationId: createEntity
      summary: "Create an entity. Properties are workspace-specific - check getContext to see what each workspace accepts. For dialogues, include a script array to define the conversation flow."
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
          description: "Workspace slug from getContext"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              description: "title required. Put entity-specific properties in the data field. Use plain names for references."
              properties:
                title:
                  type: string
                  description: Entity name (required)
                description:
                  type: string
                  description: Description or backstory
                data:
                  type: object
                  description: "All entity properties as key-value pairs. Property names come from getContext. Examples: {\"description\": \"A guard\", \"language\": \"Emorian\", \"health\": 100} for characters, {\"goal\": \"Find the letter\", \"tasks\": \"Talk to Lena\"} for quests, {\"type\": \"food\", \"price\": 10} for items."
                script:
                  type: array
                  description: "Dialogue script (for dialogues/quests). Each item is a line with: character (name), text, description (stage direction), choices (array of {text, goto}), chance (array of {weight, goto}), trigger (event name), setVar ({variable, value}), goto (label name), label (for goto targets)."
                  items:
                    type: object
                    properties:
                      character:
                        type: string
                        description: "Character name (resolved to asset reference automatically)"
                      text:
                        type: string
                      description:
                        type: string
                        description: Stage direction or context
                      label:
                        type: string
                        description: Target label for goto references
                      goto:
                        type: string
                        description: Jump to this label after this line
                      trigger:
                        type: string
                        description: Fire a game event
                      choices:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                            goto:
                              type: string
                      chance:
                        type: array
                        description: "Weighted random branch"
                        items:
                          type: object
                          properties:
                            weight:
                              type: number
                            goto:
                              type: string
                      setVar:
                        type: object
                        properties:
                          variable:
                            type: string
                          value:
                            type: string
      responses:
        "200":
          description: Created entity with all resolved properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
  /api/gpt/{workspace}/{id}:
    get:
      operationId: getEntity
      summary: "Get full entity details as flat key-value pairs. Dialogues include a script array."
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Entity UUID
      responses:
        "200":
          description: "All entity properties as flat key-value pairs. Reference fields show display names. Dialogues include script array."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
    put:
      operationId: updateEntity
      summary: "Update an entity. Only send fields to change. For dialogues, sending script replaces the entire dialogue flow."
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "Only include fields to change. Entity-specific properties go in the data field."
              properties:
                title:
                  type: string
                description:
                  type: string
                data:
                  type: object
                  description: "Properties to update as key-value pairs. Only include fields you want to change. Use plain names for references."
                script:
                  type: array
                  description: "Replacement dialogue script (same format as createEntity)"
                  items:
                    type: object
                    properties:
                      character:
                        type: string
                      text:
                        type: string
                      label:
                        type: string
                      goto:
                        type: string
                      trigger:
                        type: string
                      choices:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                            goto:
                              type: string
      responses:
        "200":
          description: Updated entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
    delete:
      operationId: deleteEntity
      summary: Delete an entity.
      parameters:
        - name: workspace
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
