openapi: 3.1.0
info:
  title: If This - Game Design API
  description: >
    Simplified API for managing game design data for "If This",
    a game set in a fictional concentration camp.
    IMPORTANT: Always call getContext first to learn the project structure.
    Use plain names for references (e.g. "Emorian" not a UUID).
  version: 2.0.0
servers:
  - url: https://ims.sieisst.com
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key

paths:
  /api/gpt/context:
    get:
      operationId: getContext
      summary: Get project overview, entity types, valid values. Call this first.
      x-openai-isConsequential: false
      responses:
        "200":
          description: Project context with all entity types and reference data
          content:
            application/json:
              schema:
                type: object
                properties:
                  game:
                    type: string
                  description:
                    type: string
                  entityTypes:
                    type: object
                  referenceData:
                    type: object

  /api/gpt/characters:
    get:
      operationId: listCharacters
      summary: List all characters (id, title, icon)
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of characters
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
    post:
      operationId: createCharacter
      summary: Create a new character
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Character name
                description:
                  type: string
                  description: Character backstory or bio
                name:
                  type: string
                  description: Character's in-game display name
                age:
                  type: string
                  description: "Character age (e.g. '25' or '30 years old')"
                health:
                  type: integer
                  description: Hit points
                damage:
                  type: integer
                  description: Base damage
                language:
                  type: string
                  description: "Primary language by name. Valid: Emorian, Kalpin, Surrk, Gundr, Saifre, Renel, Delkam, Vákilie, Edsch, Pământi, Korsδ, Lagertongue"
                country:
                  type: string
                  description: "Country of origin by name. Valid: United Emor, Kingdom of Kalpand, Empire of Surrky, Holy Gundria, Saifra, Republic of Delkamy, Vákilnia, Edschterr, Northern Korsé, Mulbian"
                occupation:
                  type: string
                  description: "Character occupation (e.g. doctor, laborer, teacher)"
                personality:
                  type: string
                  description: Personality traits
                weight:
                  type: number
                  description: Weight in kg
      responses:
        "200":
          description: Created character
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string

  /api/gpt/characters/{id}:
    get:
      operationId: getCharacter
      summary: Get a character's full details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Character ID (UUID)
      responses:
        "200":
          description: Character details as flat key-value pairs
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
    put:
      operationId: updateCharacter
      summary: Update a character's properties. Only send fields you want to change.
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                name:
                  type: string
                age:
                  type: string
                health:
                  type: integer
                damage:
                  type: integer
                language:
                  type: string
                  description: "Use language name, not UUID"
                country:
                  type: string
                  description: "Use country name, not UUID"
                occupation:
                  type: string
                personality:
                  type: string
                weight:
                  type: number
      responses:
        "200":
          description: Updated character
          content:
            application/json:
              schema:
                type: object
    delete:
      operationId: deleteCharacter
      summary: Delete a character
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /api/gpt/items:
    get:
      operationId: listItems
      summary: List all items
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
    post:
      operationId: createItem
      summary: Create a new item
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Item name
                description:
                  type: string
                  description: Item description
                type:
                  type: string
                  description: "Item category. Valid: food, tool, clothing, valuable, chore"
                price:
                  type: integer
                  description: Trade value
                effect:
                  type: string
                  description: "Effect by name. Valid: Heal, Frozen, Ignited, Poisoned, Stun, Scared, Ice Armor, War Cry"
                effect_value:
                  type: number
                  description: Effect strength
                effect_duration:
                  type: number
                  description: Effect duration in seconds
      responses:
        "200":
          description: Created item
          content:
            application/json:
              schema:
                type: object

  /api/gpt/items/{id}:
    get:
      operationId: getItem
      summary: Get an item's full details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Item details
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: updateItem
      summary: Update an item's properties
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                type:
                  type: string
                  description: "Valid: food, tool, clothing, valuable, chore"
                price:
                  type: integer
                effect:
                  type: string
                effect_value:
                  type: number
                effect_duration:
                  type: number
      responses:
        "200":
          description: Updated item
          content:
            application/json:
              schema:
                type: object
    delete:
      operationId: deleteItem
      summary: Delete an item
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /api/gpt/dialogues:
    get:
      operationId: listDialogues
      summary: List all dialogues
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of dialogues
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
    post:
      operationId: createDialogue
      summary: Create a new dialogue. Sets title and description only - dialogue flow is edited in the web UI.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Dialogue name (e.g. "Guard Checkpoint Conversation")
                description:
                  type: string
                  description: Summary of the dialogue's purpose and flow
      responses:
        "200":
          description: Created dialogue
          content:
            application/json:
              schema:
                type: object

  /api/gpt/dialogues/{id}:
    get:
      operationId: getDialogue
      summary: Get a dialogue's details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Dialogue details
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: updateDialogue
      summary: Update a dialogue's title or description
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Updated dialogue
          content:
            application/json:
              schema:
                type: object

  /api/gpt/quests:
    get:
      operationId: listQuests
      summary: List all quests
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of quests
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
    post:
      operationId: createQuest
      summary: Create a new quest
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Quest name
                description:
                  type: string
                  description: Quest overview
      responses:
        "200":
          description: Created quest
          content:
            application/json:
              schema:
                type: object

  /api/gpt/quests/{id}:
    get:
      operationId: getQuest
      summary: Get quest details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Quest details
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: updateQuest
      summary: Update a quest
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Updated quest
          content:
            application/json:
              schema:
                type: object

  /api/gpt/locations:
    get:
      operationId: listLocations
      summary: List all locations
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of locations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
    post:
      operationId: createLocation
      summary: Create a new location
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Location name
                description:
                  type: string
                  description: Location description
      responses:
        "200":
          description: Created location
          content:
            application/json:
              schema:
                type: object

  /api/gpt/locations/{id}:
    get:
      operationId: getLocation
      summary: Get location details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Location details
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: updateLocation
      summary: Update a location
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Updated location
          content:
            application/json:
              schema:
                type: object

  /api/gpt/buildings:
    get:
      operationId: listBuildings
      summary: List all buildings
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of buildings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
    post:
      operationId: createBuilding
      summary: Create a new building
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Building name
                description:
                  type: string
                  description: Building description
      responses:
        "200":
          description: Created building
          content:
            application/json:
              schema:
                type: object

  /api/gpt/buildings/{id}:
    get:
      operationId: getBuilding
      summary: Get building details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Building details
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: updateBuilding
      summary: Update a building
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Updated building
          content:
            application/json:
              schema:
                type: object

  /api/gpt/languages:
    get:
      operationId: listLanguages
      summary: List all languages in the game world
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of languages
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string

  /api/gpt/languages/{id}:
    get:
      operationId: getLanguage
      summary: Get language details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Language details
          content:
            application/json:
              schema:
                type: object

  /api/gpt/countries:
    get:
      operationId: listCountries
      summary: List all countries in the game world
      x-openai-isConsequential: false
      responses:
        "200":
          description: Array of countries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string

  /api/gpt/countries/{id}:
    get:
      operationId: getCountry
      summary: Get country details
      x-openai-isConsequential: false
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Country details
          content:
            application/json:
              schema:
                type: object
