PORT=8081

AUTH_API_HOST=https://auth.cr5.space/
CREATORS_API_HOST=https://api.cr5.space/
FILE_STORAGE_API_HOST=https://fs.cr5.space/
SUPERVISOR_API_HOST=https://sv.cr5.space/
GAMEMANAGER_API_HOST=https://gm.cr5.space/
SPACE_API_HOST=https://space.cr5.space/

PROJECT_TEMPLATES_LINK = https://ims.cr5.space/imsc-templates.json
